<section id="experience" class="experience-section">
  <h1 class="section-title">My Work Experience</h1>
  <div class="experience-card">
    <div class="timeline"> Dec 2022 — Present</div>
    <div class="experience-info">
      <div class="role-title">
        Java Full Stack Developer | NextGen Healthcare.
      </div>
      <div class="role-description">
        <p> 
          This project involved designing a multi-tiered, high-availability web application using Java 11 and J2EE with a microservices architecture. Leveraging Spring Boot, Hibernate, and AWS, the application was deployed on a WebSphere server and optimized with CI/CD pipelines through Jenkins, Docker, and Kubernetes (EKS). Data management was enhanced with GraphQL APIs for efficient retrieval, while Apache Kafka facilitated real-time data streaming and analytics with Elasticsearch integration. A robust monitoring and alerting system was implemented using AWS
        </p>
      </div>
      <ul role="list" class="tech-list">
        <li>TypeScript</li>
        <li>React</li>
        <li>J2EE</li>
        <li>SprinBoot</li>
        <li>AWS</li>
      </ul>
    </div>
  </div>
  <div class="experience-card">
    <div class="timeline">Oct 2020 — Nov 2022</div>
    <div class="experience-info">
      <div class="role-title">Java Full Stack Developer | Legacy Health</div>
      <ul class="role-description">
        <p>
          This project involved modernizing a Java-based microservices application using Spring Boot and Apache Camel to enable efficient service interaction. Migrating to Java 11, we enhanced performance and code quality by leveraging new language features. 
          Kafka was integrated to decouple services, optimize asynchronous communication, and ensure fault tolerance, while Jenkins, Docker, and Kubernetes streamlined CI/CD processes for rapid deployment. 
          AWS monitoring and Splunk dashboards were employed to visualize system health, while GraphQL was utilized to create a responsive UI, making data retrieval faster and more dynamic. 
          Oracle 11g was managed for database functionality, and security was enforced with robust access controls across components.
        </p>
      </ul>
      <ul role="list" class="tech-list">
        <li>TypeScript</li>
        <li>GraphQL</li>
        <li>Jenkins</li>
        <li>Microservices</li>
        <li>AWS</li>
      </ul>
    </div>
  </div>
  <div class="experience-card">
    <div class="timeline">Feb 2018 — Sep 2020</div>
    <div class="experience-info">
      <div class="role-title">Senior Java Developer | Office Depot</div>
      <ul class="role-description">
        <p>
          In this project, I designed and developed RESTful APIs for various modules using Spring Boot and Hibernate, integrating Java EE components and Spring Security for secure interactions. 
          Kafka was implemented to facilitate asynchronous communication between microservices, with fault tolerance and disaster recovery measures added to ensure resilience. 
          The application was containerized with Docker for consistent deployment across environments, supported by a CI/CD pipeline in Jenkins. 
          Performance and functionality were validated through extensive testing with SoapUI and JMeter, enhancing reliability and scalability in line with Agile development goals.
        </p>
      </ul>
      <ul role="list" class="tech-list">
        <li>TypeScript</li>
        <li>Java</li>
        <li>Spring Boot</li>
        <li>Kafka</li>
        <li>Agile</li>
      </ul>
    </div>
  </div>
  <div class="experience-card">
    <div class="timeline">Jul 2016 — Jan 2018</div>
    <div class="experience-info">
      <div class="role-title">Software Engineer | WalkingTree Technologies</div>
      <ul class="role-description">
        <p>
          In this project, I contributed to Agile development phases by designing and developing Java modules for business workflows using Spring Boot. 
          I created RESTful microservices, incorporated Spring Core for dependency injection (DI), and implemented test-driven development (TDD) to ensure robust code quality. 
          Docker was employed for continuous integration and deployment, facilitating efficient microservices deployment. 
          Web services integration included SOAP for data exchange, with services published and managed on a WebLogic server. 
          Additionally, I utilized GIT for source control and version management, supporting collaborative and streamlined development.
        </p>
      </ul>
      <ul role="list" class="tech-list">
        <li>SQL</li>
        <li>Java 8</li>
        <li>Spring Boot</li>
        <li>Hibernate</li>
        <li>JUnit</li>
      </ul>
    </div>
  </div>
</section>
