<section class="about-section" id="about">
  <img
    ngSrc="/assets/about.webp"
    width="250"
    height="450"
    class="hero-image"
    ngSrcset="100w, 200w, 300w"
    alt="about image"
    priority
  />
  <div class="about-text">
    <h1 class="section-title">About me</h1>
    <p>
      I’m a Full Stack Java Developer with around 8 years of experience in developing and deploying object-oriented and web-based enterprise applications. Over the years, I’ve specialized in n-tier application design and development using Java, J2EE, JSP, Servlets, and Spring frameworks. My work involves building robust applications that are scalable and maintainable, leveraging design patterns like DAO, DTO, and MVC to create efficient architectures.<br><br>

I’ve developed advanced PL/SQL queries, Triggers, and Stored Procedures to handle complex business logic, and my expertise in build automation with tools like ANT and Maven, as well as setting up CI/CD pipelines with Jenkins, has helped streamline development workflows, reducing manual effort and enhancing productivity. I’m also proficient in implementing multithreading, serialization, collections, and generics, ensuring efficient and high-performing applications.<br><br>

On the front end, I have hands-on experience building user interfaces using HTML5, CSS, Angular, React, and JavaScript, which allows me to create dynamic, responsive applications that provide a great user experience. Additionally, I have worked extensively with AWS and GCP, using services like EC2, S3, RDS, and CloudFront to enhance application scalability, resilience, and performance.<br><br>

In my previous roles, I’ve had the opportunity to lead projects from planning to deployment, collaborate with cross-functional teams, and drive successful outcomes. My goal is always to deliver solutions that meet both business objectives and technical excellence, and I’m excited to bring my skills to a new opportunity where I can make a significant impact.<br>
    </p>
  </div>
</section>
