<section class="hero-section">
  <div class="hero-content">
    <span class="name-holder">
      <h1 class="gradient t1 animate" [ngClass]="{ 'fade-up': isLoading() }">
        Lekha 
      </h1>
      <h1 class="gradient t2 animate" [ngClass]="{ 'fade-up': isLoading() }">
        Chilumula
      </h1>
    </span>
    <p class="title-statement animate" [ngClass]="{ 'fade-up': isLoading() }">
      I am a <span class="job-title">Full Stack Java Developer </span>with 8 years of Experience
    </p>
    <app-social-links
      class="social-media-links animate"
      [ngClass]="{ 'fade-up': isLoading() }"
    ></app-social-links>
  </div>
  <div class="hero-image-holder animate" [ngClass]="{ 'fade-up': isLoading() }">
    <img
      ngSrc="/assets/hero_image.webp"
      width="250"
      height="250"
      class="hero-image"
      ngSrcset="100w, 200w, 300w"
      alt="hero image"
      priority
    />
  </div>
</section>
